<div class="bg-zinc-900/10 mx-auto h-[1.1px] shadow-sm shadow-zinc-900/10 px-12"></div>
<nav class="styles_categoryNav">
    <div><a class="styles_categoryLink" (click)="selectCategory(null)">
            <h1 class="truncate">All</h1>
        </a></div>
    <div><a class="styles_categoryLink" (click)="selectCategory('electronics')" routerLinkActive="styles_categoryLink_active">
            <h1 class="truncate">Electronics</h1>
        </a></div>
    <div><a class="styles_categoryLink" (click)="selectCategory('jewelery')" routerLinkActive="styles_categoryLink_active">
            <h1 class="truncate">Jewelery</h1>
        </a></div>
    <div><a class="styles_categoryLink" (click)="selectCategory('men\'s clothing')" routerLinkActive="styles_categoryLink_active">
            <h1 class="truncate">Men's Clothing</h1>
        </a></div>
    <div><a class="styles_categoryLink" (click)="selectCategory('women\'s clothing')" routerLinkActive="styles_categoryLink_active">
            <h1 class="truncate">Women's Clothing</h1>
        </a></div>
</nav>
<div class="bg-zinc-900/10 mx-auto h-[1px] shadow-sm shadow-zinc-900/10 px-12"></div>